@{
    ViewBag.title = "Tiny Dust";
}
<link href="~/Content/DreamCss/bootstrap.css" rel="stylesheet" />
<link href="~/Content/DreamCss/animate.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/DreamCss/style.css" rel="stylesheet" />
<script src="~/Content/DreamJs/wow.min.js"></script>
<script src="~/Content/DreamJs/move-top.js"></script>
<script src="~/Content/DreamJs/easing.js"></script>

<div class="bg">
    <!----- start-header---->
    <div id="home" class="header wow bounceInDown animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: bounceInDown;">
        <div class="top-header">
            <div class="container">
                <div class="logo">
                    <a href="#"><img src="~/Content/DreamImages/logo.png" title="dreams"></a>
                </div>
                <!----start-top-nav---->
                <nav class="top-nav">
                    <ul class="top-nav">
                        <li><a href="#home" class="scroll">Home</a></li>
                        <li class="active"><a href="#services" class="scroll">Services</a></li>
                        <li><a href="#port" class="scroll">Portfolio</a></li>
                        <li><a href="#team" class="scroll">Team</a></li>
                        <li><a href="#contact" class="scroll">Contact</a></li>
                    </ul>
                    <a href="#" id="pull"><img src="~/Content/DreamImages/menu-icon.png" title="menu"></a>
                </nav>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!----- //End-header---->
    <!---- banner ---->
    <div class="banner wow fadeIn animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
        <div class="container">
            <div class="banner-info text-center">
                <h1>Build the website of your dreams</h1><br>
                <span> </span>
                <p>We are a digital agency that believes in building things that are  meaningful!</p>
                <p>
                    “我们在做选择的时候都不知道将来会是什么样子的，但是放心，等将来的某一天，你再回过去看，所有重要的选择都能连成一条线，前因后果。”
                    这就是所谓的选择什么并不重要，重要的是怎么走好当前的路，和用心对待陪你走路的人！
                </p>
            </div>
        </div>
    </div>
</div>

<div id="services" class="services">
    <div class="container">
        <div class="service-head text-center">
            <h2>Core Services</h2>
            <span> </span>
        </div>
        <!--- services-grids --->
        <div class="services-grids text-center">
            <div class="col-md-4">
                <div class="service-grid wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: bounceIn;">
                    <span class="service-icon1"> </span>
                    <h3><a href="#">Beautiful Designs</a></h3>
                    <p>Proin iaculis purus consequat sem digni ssim. Donec porttitora entum aenean rhoncus posuere odio in.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-grid wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: bounceIn;">
                    <span class="service-icon2"> </span>
                    <h3><a href="#">web development</a></h3>
                    <p>Proin iaculis purus consequat sem digni ssim. Donec porttitora entum aenean rhoncus posuere odio in.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-grid wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: bounceIn;">
                    <span class="service-icon3"> </span>
                    <h3><a href="#">24/7 Support</a></h3>
                    <p>Proin iaculis purus consequat sem digni ssim. Donec porttitora entum aenean rhoncus posuere odio in.</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!--- services-grids --->
    </div>
</div>

<div id="port" class="expertise">
    <div class="expertice-grids">
        <div class="col-md-8 expertice-left-grid wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
            <div class="expertise-head">
                <h3>Other Expertise</h3>
                <p>Proin iaculis purus consequat sem cure  digni ssim. Donec porttitora entum suscipit  aenean rhoncus posuere odio in tincidunt consequat sem cure  digni ssim. </p>
            </div>
            <div class="expertise-left-inner-grids">
                <div class="e-left-inner-grid">
                    <div class="e-left-inner-grid-left">
                        <span class="e-icon1"> </span>
                    </div>
                    <div class="e-left-inner-grid-right">
                        <h4>Custom setup</h4>
                        <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="e-left-inner-grid">
                    <div class="e-left-inner-grid-left">
                        <span class="e-icon2"> </span>
                    </div>
                    <div class="e-left-inner-grid-right">
                        <h4>Cloud control</h4>
                        <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="e-left-inner-grid">
                    <div class="e-left-inner-grid-left">
                        <span class="e-icon3"> </span>
                    </div>
                    <div class="e-left-inner-grid-right">
                        <h4>All star support team</h4>
                        <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="e-left-inner-grid">
                    <div class="e-left-inner-grid-left">
                        <span class="e-icon4"> </span>
                    </div>
                    <div class="e-left-inner-grid-right">
                        <h4>top notch security</h4>
                        <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <a class="leran-more" href="#">Learn more</a>
        </div>
        <div class="col-md-4 expertice-right-grid wow fadeInRight animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInRight;">

        </div>
        <div class="clearfix"> </div>
    </div>
</div>

<div class="portfolio">
    <div class="portfolio-top">
        <div class="col-md-8">
            <div class="portfolio-top-left wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                <h3>Amazing Portfolio</h3>
                <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit.</p>
                <p>Iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat.</p>
                <div class="portfolio-top-left-grids">
                    <div class="portfolio-top-left-grid">
                        <div class="portfolio-top-left-grid-left">
                            <span class="p-icon1"> </span>
                        </div>
                        <div class="portfolio-top-left-grid-right">
                            <h5>Sail Away Your Worries</h5>
                            <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. </p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="portfolio-top-left-grid">
                        <div class="portfolio-top-left-grid-left">
                            <span class="p-icon2"> </span>
                        </div>
                        <div class="portfolio-top-left-grid-right">
                            <h5>All-star support team</h5>
                            <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. </p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="portfolio-top-left-grid">
                        <div class="portfolio-top-left-grid-left">
                            <span class="p-icon3"> </span>
                        </div>
                        <div class="portfolio-top-left-grid-right">
                            <h5>fully Integrated service</h5>
                            <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. </p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 portfolio-top-right-inner wow fadeInRight animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInRight;">
            <div class="portfolio-top-right">

            </div>
        </div>
        <div class="clearfix"> </div>
        <!---- portfolio-works ---->
        <div class="portfolio-works">
            <div class="col-md-4 portfolio-work-grid wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: bounceIn;">
                <div class="portfolio-work-grid-pic">
                    <img src="~/Content/DreamImages/images.jpg" />
                    @*<img src="~/Content/images/2c202ded58a563f79ede64294d08f85f.jpg" />*@
                </div>
                <div class="portfolio-work-grid-caption">
                    <h4>Project title</h4>
                    <p>Here you can find some of our latest works,  Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. to see the details of these works just click the thumbnails below.</p>
                </div>
            </div>
            <div class="col-md-4 portfolio-work-grid wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: bounceIn;">
                <div class="portfolio-work-grid-pic">
                    <img src="~/Content/DreamImages/images (3).jpg" />
                    @*<img src="~/Content/images/0ee5b482a9a22f9b1b196b4d37bafd5b.jpg" title="name"/>*@
                    @*<img src="~/Content/images/p2.jpg" title="name"/>*@
                </div>
                <div class="portfolio-work-grid-caption">
                    <h4>Project title</h4>
                    <p>Here you can find some of our latest works,  Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. to see the details of these works just click the thumbnails below.</p>
                </div>
            </div>
            <div class="col-md-4 portfolio-work-grid wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: bounceIn;">
                <div class="portfolio-work-grid-pic">
                    <img src="~/Content/DreamImages/p3.jpg" title="name" />
                    @*<img src="~/Content/images/8dc97bfaeb3fae276a96629f5ab5b55e.jpg" title="name"/>*@
                </div>
                <div class="portfolio-work-grid-caption">
                    <h4>Project title</h4>
                    <p>Here you can find some of our latest works,  Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. to see the details of these works just click the thumbnails below.</p>
                </div>
            </div>
            <div class="col-md-4 portfolio-work-grid wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: none;">
                <div class="portfolio-work-grid-pic">
                    <img src="~/Content/DreamImages/p4.jpg" title="name" />
                </div>
                <div class="portfolio-work-grid-caption">
                    <h4>Project title</h4>
                    <p>Here you can find some of our latest works,  Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. to see the details of these works just click the thumbnails below.</p>
                </div>
            </div>
            <div class="col-md-4 portfolio-work-grid wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: none;">
                <div class="portfolio-work-grid-pic">
                    <img src="~/Content/DreamImages/p5.jpg" title="name" />
                </div>
                <div class="portfolio-work-grid-caption">
                    <h4>Project title</h4>
                    <p>Here you can find some of our latest works,  Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. to see the details of these works just click the thumbnails below.</p>
                </div>
            </div>
            <div class="col-md-4 portfolio-work-grid wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: none;">
                <div class="portfolio-work-grid-pic">
                    <img src="~/Content/DreamImages/p6.jpg" title="name" />
                </div>
                <div class="portfolio-work-grid-caption">
                    <h4>Project title</h4>
                    <p>Here you can find some of our latest works,  Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. to see the details of these works just click the thumbnails below.</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!---- portfolio-works ---->
    </div>
</div>

<div class="about">
    <div class="wrap">
        <div class="about-head">
            <h1>About us</h1>
            <span> </span>
        </div>
        <!---start-about-time-line---->
        <div class="about-time-line">
            <li>
                <div class="cbp_tmicon img1"> </div>
                <div class="cbp_tmlabel wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                    <h2>July 2010 Our Humble Beginnings</h2>
                    <p>Proin iaculis purus consequat sem cure  digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit.</p>
                </div>
            </li>
            <li>
                <div class="cbp_tmicon1 img2"> </div>
                <div class="cbp_tmlabel cbp_tmlabel1 wow fadeInRight animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInRight;">
                    <h2>January 2011 Facing Startup Battles </h2>
                    <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
                </div>
            </li>
            <br>
            <li>
                <div class="cbp_tmicon2 img3"> </div>
                <div class="cbp_tmlabel wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                    <h2>December 2012 Enter The Dark Days </h2>
                    <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni.</p>
                </div>
            </li>
            <li>
                <div class="cbp_tmicon3 img4"> </div>
                <div class="cbp_tmlabel cbp_tmlabel1 wow fadeInRight animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInRight;">
                    <h2>January 2013Our Triumph </h2>
                    <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean.</p>
                </div>
            </li>
            <li>
                <div class="cbp_tmicon4 img5"> </div>
            </li>

            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!---//End-about-time-line---->
    <!---- about ---->
</div>

<div id="team" class="team-members">
    <div class="wrap">
        <div class="tm-head">
            <h3>our amazing team</h3>
            <p>Proin iaculis purus consequat sem cure.</p>
        </div>
        <div class="tm-head-grids">
            <div class="tm-head-grid wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                <img src="~/Content/DreamImages/team-member1.jpg" />
                @*  <img src="~/Content/DreamImages/0b0cf1e4f38f833bb04224655888a50a.jpg" />*@
                <h4>Kimberly Thompson</h4>
                <h5>Marketer</h5>
                <ul class="top-social-icons">
                    <li><a class="twitter" href="#"> </a></li>
                    <li><a class="facebook" href="#"> </a></li>
                    <li><a class="pin" href="#"> </a></li>
                </ul>
            </div>
            <div class="tm-head-grid wow fadeInUp animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                @* <img src="~/Content/DreamImages/bdea204fa50a50b67c159dc256d4b315.jpeg" />*@
                <img src="~/Content/DreamImages/team-member2.jpg" />
                <h4>Rico Massimo</h4>
                <h5>Coder</h5>
                <ul class="top-social-icons">
                    <li><a class="twitter" href="#"> </a></li>
                    <li><a class="facebook" href="#"> </a></li>
                    <li><a class="pin" href="#"> </a></li>
                </ul>
            </div>
            <div class="tm-head-grid wow fadeInRight animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInRight;">
                <img src="~/Content/DreamImages/team-member4.jpeg" />
                <h4>Uku Mason</h4>
                <h5>Graphic Designer</h5>
                <ul class="top-social-icons">
                    <li><a class="twitter" href="#"> </a></li>
                    <li><a class="facebook" href="#"> </a></li>
                    <li><a class="pin" href="#"> </a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
        <p class="team-info">Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt proin iaculis.</p>
    </div>
</div>

<div id="contact" class="contact">
    <div class="container">
        <div class="contact-grids">
            <div class="col-md-6">
                <div class="contact-left wow fadeInRight animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInRight;">
                    <h3>Contact Us</h3>
                    <label>Don't be shy, drop us an email and say hello! We are a really nice bunch of people :)</label>
                    <div class="contact-left-grids">
                        <div class="col-md-6">
                            <div class="contact-left-grid">
                                <p><span class="c-mobi"> </span>(416) 555-0000</p>
                                @*<p><span class="c-twitter"> </span><a href="#">@dreams</a></p>*@
                                <p><span class="c-pluse"> </span><a href="#">plus.com/dreams</a></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="contact-right-grid">
                                <p><span class="c-msg"> </span><a href="mailto:hello@dreams.com">hello@dreams.com</a></p>
                                <p><span class="c-face"> </span><a href="#">facebook.com/dreams</a></p>
                                <p><span class="c-pin"> </span><a href="#">pinterest.com/dreams</a></p>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-right wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                    <form>
                        <input type="text" class="text" value="Name..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name...';}">
                        <input type="text" class="text" value="Email..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email...';}">
                        <textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message..</textarea>
                        <input class="wow shake animated" data-wow-delay="0.3s" type="submit" value="Send Message" style="visibility: visible; animation-delay: 0.3s; animation-name: shake;">
                    </form>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!--- copy-right ---->
        <div class="copy-right text-center">
            <p>Template by <a href="http://w3layouts.com/">W3layouts</a></p>
            <script type="text/javascript">
                $(document).ready(function () {
                    /*
                    var defaults = {
                            containerID: 'toTop', // fading element id
                        containerHoverID: 'toTopHover', // fading element hover id
                        scrollSpeed: 1200,
                        easingType: 'linear'
                        };
                    */

                    //$().UItoTop({ easingType: 'easeOutQuart' });

                });
            </script>
            <a href="#" id="toTop" style="display: block;"><span id="toTopHover"></span> <span id="toTopHover" style="opacity: 1;"> </span></a>
        </div>
        <!--- copy-right ---->
    </div>
</div>